@tailwind base;
@tailwind components;
@tailwind utilities;

/* #chatScreen {
  background-image: url("/assests/house-night.jpeg");
  background-size: cover;
} */

::-webkit-scrollbar {
  display: none;
}
